
.fake-flex {
  display: flex;
}

.fake-flex.column {
  flex-direction: column;
}

.fake-flex.fake-middle {
  justify-content: center;
  align-items: center;
}

.fake-flex.fake-justify-around {
  justify-content: space-around;
}

.fake-flex.fake-items-center {
  align-items: center;
}




.pointer {
  cursor: pointer;
}